<ion-header>
  <ion-toolbar color="primary">
    <div>
      <ion-row>
        <ion-col>
          <div>

            <ion-buttons slot="start">
              <ion-menu-button menu="main-menu"></ion-menu-button>
            </ion-buttons>
          </div>
        </ion-col>
        <ion-col>

          <ion-label>Ínicio</ion-label>

        </ion-col>
        <ion-col>
          <div class="aces-menu">
            <ion-icon name="settings-sharp"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="prin">

  
    
  
  <div>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </div>
  <ion-card-header>
    <img src="../../assets/img/aviso.png"/>
    <ion-card-title>
        Avisos
    </ion-card-title>
  </ion-card-header>

  <div class="gree-card">
    <span>Selecione um aviso ou crie um novo</span>
  </div>

  <ion-fab vertical="bottom" horizontal="end" (click)="addAviso()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>