:host{
    .top-section{
        
        min-height: 120px;
        background-color: #042A2B;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        
        
        ion-row{
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
        }
        .top-menu{
            ion-icon{
                width: 40px;
                height: 40px;
                color: #EF7B45;
                
                
    
            }
            display: flex;
            justify-content: space-between;
            width: 45px;
            height: 45px;
        }
        .user-menu{
            ion-icon{
                color: white;
                width: 60px;
                height: 60px;
                padding-left: 20%;
            }
        }

        .aces-menu{
            
            padding-left: 40%;
        }
        
    }
    
    ion-button{
       
        border-radius: 20px;
        
        
        ion-label{
            padding: 5px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            width: 8em
        }
        
        
    }
    
    ion-card-header{
        text-align: center;
    }
    
}

.gree-card{
    text-align: center;
    background: #042A2B;
    color:#fff;
    padding: 5px;
    margin-top: -10px;
}

