<ion-header>

</ion-header>

<ion-content>
  <div class="background-pic">

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Bem-Vindo!
        </ion-card-title>
        <ion-card-subtitle>
          Caso não tenha conta, <a href="#">Clique Aqui!</a>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Email"></ion-input>

        </ion-item>

        <ion-item>
          <ion-input placeholder="Senha"></ion-input>

        </ion-item>
        <a href="#">Esqueci Minha Senha</a>

        <div class="bottom-section">
          <ion-button (click)="tabsPage()">
            Prosseguir
          </ion-button>
          <span> Ou faça login com </span>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
