*{
    font-family: 'Raleway', sans-serif;
}
.top-section{
    
    min-height: 120px;
    background-color: #042A2B;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
    
    ion-row{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top-menu{
        ion-menu-button{
            width: 40px;
            height: 40px;
            color: #EF7B45;
            

        }
        display: flex;
        justify-content: space-between;
        width: 45px;
        height: 45px;
    }
    .user-menu{
        ion-icon{
            color: white;
            width: 60px;
            height: 60px;
        }
    }

    .aces-menu{
        
        padding-left: 20px;
    }
    
}

.atividade{
    position: absolute;
    width: 360px;
    height: 30px;
    left: 0px;
    top: 136px;
    
    background: #042A2B;
    .select{
        color: white;
        padding: 20px;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.25px;
    }
}

.add{
    
    top: 469px;
}

ion-card{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;    

border: 1px solid #79747E;
box-sizing: border-box;
border-radius: 12px;

}