<ion-content class="prin">

  <div class="top-section ion-padding">
    <ion-row>
      <ion-col>
        <div class="top-menu">
          
          <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col>
        <div class="user-menu">
          <ion-icon size="large" name="person-circle"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="aces-menu">
          <img src="../../assets/img/acesmenu.png" alt="">
        </div>
      </ion-col>
    </ion-row>

  </div>
  <div class="profi">
    <ion-button size="large" expand="block" (click)="toAlunos()">
      <ion-icon name="people-outline"></ion-icon>
      <br>
      <ion-label>Alunos</ion-label>

    </ion-button>
    <ion-button size="large" expand="block" (click)="toDisciplinas()">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Disciplinas</ion-label>
    </ion-button>
    <ion-button size="large" expand="block" (click)="toCalendar()">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-button>
    <ion-button size="large" expand="block" (click)="toAvisos()"> 
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Avisos</ion-label>
    </ion-button>
  </div>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>