<ion-header>
  <ion-toolbar color="primary">
    <div>
      <ion-row>
        <ion-col>
          <div>

            <ion-buttons slot="start">
              <ion-menu-button menu="main-menu"></ion-menu-button>
            </ion-buttons>
          </div>
        </ion-col>
        <ion-col>
          
            <ion-label>Ínicio</ion-label>
          
        </ion-col>
        <ion-col>
          <div class="aces-menu">
            <ion-icon name="settings-sharp"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

    </div>
  </ion-toolbar>
<ion-content>
  
  

  <ion-card *ngFor="let user of users">
    <ion-card-content>
      {{user.nome}}
      {{user.email}}
    </ion-card-content>
  </ion-card>

</ion-content>