<ion-content class="prin">

  <div class="top-section ion-padding">
    <ion-row>
      <ion-col>
        <div class="top-menu">
          <ion-icon name="menu"></ion-icon>
          <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col>
        <div class="user-menu">
          <ion-icon size="large" name="person-circle"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="aces-menu">
          <img src="../../assets/img/acesmenu.png" alt="">
        </div>
      </ion-col>
    </ion-row>
    
  </div>
  
  <div>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="avisos"></ion-back-button>
    </ion-buttons>
  </div>
    <ion-item>
      <ion-input placeholder="Título"></ion-input>

    </ion-item>

    <ion-item>
      <ion-input placeholder="Descrição"></ion-input>

    </ion-item>

    <div class="bottom-section">
      <ion-button>
        Adicionar arquivo
      </ion-button>
      
    </div>

    <div class="bottom">
      <ion-button>
        Salvar
      </ion-button>
      
    </div>

  
</ion-content>