<ion-header>
  
</ion-header>

<ion-content>
  <div class="background-pic">
    
    <div class="bottom">
      <ion-button  [href]="'login'">
        <img src="../../assets/img/arrow.png">
      </ion-button>
    </div>
    
    <ion-card>
      <ion-card-header>
        
        <ion-card-title>
          ESQUECI MINHA SENHA
        </ion-card-title>
        <ion-card-subtitle>
          Um link para renovação de senha será enviado ao seu Email:
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Email"></ion-input>

        </ion-item>


        <div class="bottom-section">
          <ion-button (click)="tabsPage()">
            Enviar
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
